<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>购房需求详细</title>
	<!-- <link rel="icon" href="../static/static/image/diamond.png" type="image/x-icon"/> -->
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style2.css">
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/script3.js"></script>
</head>
<body>
	<div id="all">
		<div id="top">
			✨详情界面✨
		</div>
		<div id="detail_center">
			<div id="datail_front">
				<div id="detail_top">
					<div id="detail_id">id: </div>
					<div id="detail_username">姓名: </div>
					<div id="detail_phone">手机号: </div>
				</div>
				
				<div id="detail_address">
					<div id="detail_city">城市: </div>
					<div id="detail_district">县区: </div>
					<div id="detail_village">更详细地址: </div>
				</div>

				<div id="detail_subway">
					<div id="detail_lineNum">地铁线: </div>
					<div id="detail_stationName">地铁站: </div>
				</div>
				<div id="clear"></div>
			</div>
			
			<div id="detail_bottom">
				<div id="detail_price">售价: </div>
				<div id="detail_squareMeter">面积: </div>
				<div id="detail_houseKind">房型: </div>
				<div id="detail_uasge">用途: </div>
				<div id="detail_ownerShip">权属: </div>
				<div id="detail_floor">楼层: </div>
				<div id="detail_direction">朝向: </div>
				<div id="detail_age">楼龄: </div>
				<div id="detail_elevator">有无电梯: </div>
				<div id="detail_decoration">装修: </div>
				<div id="detail_date">提交时间: </div>
				<div id="detail_remark">备注: </div>
			</div>
		</div>
	</div>
	
</body>
</html>




















