<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>登录界面</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style2.css">
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/login.js"></script>
</head>
<body>
	username: <input type="text" id="username" maxlength="10">
	password: <input type="text" id="password" maxlength="10">
	<input type="button" id="login" value="登录">

</body>