.{
	min-width: 900px;
}

body {
	background-image: url("../image/bg.jpg");
	background-size:100% 100%;
}

#all {
	width: 90%;
	margin: auto 5%;
}

#center {
	width: 80%;
	margin: auto;
	padding-left: 2%;
	margin-bottom: 2%;
	border: 1px rgb(75,162,204) solid;
}

#top {
	color: rgb(75,162,204);
	margin-top: 2%;
	margin-bottom: 1%;
	text-align: center;
	font-size: 320%;
}

.title {
	font-size: 180%;
	color: black;
}

form div {
	font-size: 120%;
	margin-top: 2%;
}

.name {
	float: left;
	font-size: 100%;
	margin-top: 0.5%;
	width: 13%;
}

.place {
	margin-left: 13%;
	font-size: 100%;
	margin-top: 1%;
	padding-top: 0.2%;
}

#btn {
	margin-bottom: 3%;
}




















